@use "../abstract/mixins" as mx;

.game-over {
  @include mx.d-flex();
  @include mx.font(26px, 400);
  color: #ffffff;

  > div {
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 124px
    );
  }

  &__headline {
    color: #4dd5bc;
    @include mx.font(140px, 700);
  }
  &__score {
    padding: 17px 20px;
    background-color: #86e9d633;
    @include mx.d-flex($gap: 32px);

    &--blue,
    &--orange {
      @include mx.d-flex($gap: 4px);
      @include mx.font(24px, 700);
    }

    &--blue {
      color: #2bb1ff;
    }

    &--orange {
      color: #f58e39;
    }
  }

  .game-over-score-wrap {
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 24px
    );
  }
}

.winner {
  @include mx.d-flex($flex-direction: column, $justify-content: flex-start);

  > div {
    width: 1220px;
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 0
    );

    > img {
      height: 360px;
    }
  }
}

.winner-content {
  color: white;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $gap: 64px
  );

  &__headline {
    @include mx.d-flex($flex-direction: column, $gap: 8px);

    &--primary {
      @include mx.font(60px, 700);
      text-transform: uppercase;
    }

    &--secondary {
      @include mx.font(40px, 400);
    }
  }

  &__btn {
    padding: 16px 24px;
    border: 1px solid #4dd5bc;
    background-color: #86e9d633;
    color: #ffffff;
    @include mx.font(24px, 700);
  }
}
