@use "../abstract/mixins" as mx;

.game-over {
  font-family: var(--theme-font);
  background-color: var(--game-over-bg-color);
  @include mx.d-flex();
  @include mx.font(26px, 400);
  color: #ffffff;

  > div {
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 124px
    );
  }

  &__headline {
    color: var(--game-over-headline-color);
    @include mx.font(140px, 700);
  }
  &__score {
    padding: 17px 20px;
    background-color: var(--game-board-score-bg-color);
    @include mx.d-flex($gap: 32px);

    &--blue,
    &--orange {
      @include mx.d-flex($gap: 4px);
      @include mx.font(24px, 700);
    }

    &--blue {
      color: var(--theme-color-blue);
    }

    &--orange {
      color: var(--theme-color-orange);
    }
  }

  .game-over-score-wrap {
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 24px
    );
  }
}

.winner {
  @include mx.d-flex($flex-direction: column, $justify-content: flex-start);
  font-family: var(--theme-font);
  background-color: var(--game-over-bg-color);
  > div {
    width: 1220px;
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $gap: 0
    );

    > img {
      height: 360px;
    }
  }
}

.winner-content {
  color: white;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $gap: 64px
  );

  &__headline {
    @include mx.d-flex($flex-direction: column, $gap: 8px);

    &--primary {
      @include mx.font(60px, 700);
      text-transform: uppercase;
    }

    &--secondary {
      @include mx.font(40px, 400);
    }
  }

  &__btn {
    padding: 16px 24px;
    border: 1px solid var(--exit-btn-border-color);
    background-color: var(--exit-btn-bg-color);
    color: var(--exit-btn-text-color);
    @include mx.font(24px, 700);
    &:hover {
      padding: 15px 23px;
      border: 2px solid var(--exit-btn-border-color);
      background-color: var(--exit-btn-bg-hover-color);
    }
  }

  &__img {
    height: 250px;
    width: 200px;
  }
}

.draw {
  font-family: var(--theme-font);
  background-color: var(--game-over-bg-color);
  @include mx.d-flex($flex-direction: column, $gap: 64px);
  &__headline {
    @include mx.d-flex($flex-direction: column, $gap: 0);
    &--primary {
      @include mx.font(100px, 700);
      color: var(--draw-headline-primary-color);
      text-transform: uppercase;
    }

    &--secondary {
      @include mx.font(40px, 400);
      color: var(--draw-headline-secondary-color);
    }
  }

  &__img {
    width: 340px;
    height: 272px;
  }

  &__btn {
    padding: 16px 24px;
    border: 1px solid var(--exit-btn-border-color);
    background-color: var(--exit-btn-bg-color);
    color: var(--exit-btn-text-color);
    @include mx.font(24px, 700);
    &:hover {
      padding: 15px 23px;
      border: 2px solid var(--exit-btn-border-color);
      background-color: var(--exit-btn-bg-hover-color);
    }
  }
}
