@use "../abstract/mixins" as mx;

.game {
  font-family: var(--theme-font);
  width: 1220px;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $gap: 54px
  );
  padding-top: 16px;
}

.game-screen {
  @include mx.d-flex($align-items: flex-start);
  position: relative;
  z-index: 1;
}

.game-header {
  @include mx.d-flex(
    $justify-content: space-between,
    $gap: 54px,
    $align-items: center
  );
  padding: 20px 24px;
  width: 100%;
  background-color: var(--game-board-bg-color);
  border-radius: var(--game-board-border-radius);

  &__score {
    padding: 17px 20px;
    background-color: var(--game-board-score-bg-color);
    @include mx.d-flex($gap: 20px);
    border-radius: var(--game-board-border-radius);

    &--blue,
    &--orange {
      @include mx.d-flex($gap: 4px);
      @include mx.font(24px, 700);
    }

    &--blue {
      color: var(--theme-blue-color);
    }

    &--orange {
      color: var(--theme-orange-color);
    }
  }

  &__current-player {
    color: var(--game-board-text-color);
    @include mx.font(26px, 400);
    @include mx.d-flex();
  }

  &__exit-btn {
    @include mx.d-flex();
    @include mx.font(24px, 700);
    color: var(--exit-btn-text-color);
    background-color: var(--exit-btn-bg-color);
    padding: 16px 24px;
    border: 3px solid var(--exit-btn-border-color);
    border-radius: var(--game-board-border-radius);

    img {
      width: 26px;
      height: 23px;
    }

    .img-blue {
      content: url("../../../public/assets/img/leave_blue.svg");
    }

    &:hover {
      border: 3px solid var(--exit-btn-border-hover-color);
      background-color: var(--exit-btn-bg-hover-color);
      color: var(--exit-btn-text-hover-color);

      .img-blue {
        content: url("../../../public/assets/img/leave.svg");
      }
    }
  }
}

.player-icon {
  width: 24px;
  height: 20px;

  clip-path: polygon(0 0, 67% 0, 100% 50%, 67% 100%, 0 100%);
}

.player-icon-img {
  width: 20px;
  height: 25px;
}

.current-player-icon-img {
  width: 25px;
  height: 32px;
  padding: 4px 8px;
}

.game-core {
  display: grid;
  gap: 8px;
}

.grid-4x4 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.grid-6x4 {
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.grid-6x6 {
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
}

.card {
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-border-radius);

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    transform-style: preserve-3d;
  }

  &__face {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}

.exit-overlay {
  position: absolute;
  z-index: 100;
  opacity: 0;
  top: 0px;
  left: 50%;
  translate: -50% -50%;
  width: 540px;
  height: 270px;
  background-color: var(--exit-overlay-bg-color);
  border-radius: 24px;
  padding: 40px;
  @include mx.d-flex($flex-direction: column, $gap: 54px);
  transition: all 400ms ease-in-out;

  &__text {
    color: var(--exit-overlay-text-color);
    @include mx.font(32px, 700);
    line-height: 40px;
    text-align: center;
  }

  &__btn {
    @include mx.font(20px, 700);
    padding: 16px 24px;

    &--primary {
      background-color: var(--primary-btn-bg-color);
      color: var(--primary-btn-text-color);
      border: 2px solid var(--primary-btn-border-color);
      border-radius: var(--primary-btn-border-radius);
      &:hover {
        background-color: var(--primary-btn-bg-hover-color);
        color: var(--primary-btn-text-hover-color);
      }
    }

    &--secondary {
      background-color: var(--secondary-btn-bg-color);
      color: var(--secondary-btn-text-color);
      border: 2px solid var(--secondary-btn-border-color);
      border-radius: var(--primary-btn-border-radius);
      &:hover {
        background-color: var(--secondary-btn-bg-hover-color);
      }
    }
  }
}

.exit-overlay-btn-wrap {
  @include mx.d-flex($gap: 32px);
}

.exit-overlay-in {
  opacity: 1;
  top: 50%;
}

.exit-overlay-out {
  opacity: 0;
  top: 0px;
}

.exit-overlay-blur {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100%;
  top: calc(100vh - 100px);
  left: 0;
  background-color: #303131;
  opacity: 0;
  transition: all 300ms ease-in;
}

.blur-on {
  top: 0;
  height: 100vh;
  opacity: 0.5;
}
