@use "../abstract/mixins" as mx;
@use "../base/typography" as typgr;

.home {
  background-color: #303131;
  @include mx.d-flex($flex-direction: column, $gap: 88px);
}

.home-title {
  color: white;
  @include mx.d-flex(
    $flex-direction: column,
    $align-items: flex-start,
    $gap: 40px
  );

  &__subtitle {
    @include mx.font(48px);
  }

  &__title {
    @include mx.font(140px, 700);
  }
}

.start-btn {
  background-color: #f0ea6e;
  padding: 24px;
  @include mx.d-flex($gap: 20px);

  &:hover {
    transform: scale(1.05);
    transition: scale 250ms ease-out;

    .start-btn__img--controller {
      transform: rotate(-30deg) scale(1);
      transition: transform 250ms ease 100ms;
    }

    .start-btn__img--arrow {
      transform: scale(1.25);
      transition: transform 250ms ease 100ms;
    }

    .start-btn__text {
      transform: scale(1);
    }
  }

  &__img {
    padding: 0;

    &--controller {
      width: 44px;
      height: 32px;
    }
  }

  &--arrow {
    width: 33px;
    height: 20px;
  }

  &__text {
    padding: 0;
    @include mx.font(40px, 700);
  }
}
