@use "../abstract/mixins" as mx;
@use "../base/typography" as typgr;
@use "../abstract/functions" as fct;

.settings {
  @include mx.d-flex($align-items: flex-start);
  padding-top: fct.px-to-rem(100px);
}

.set-body {
  width: 1100px;
  @include mx.d-flex($justify-content: space-between, $align-items: flex-start);
  padding-top: fct.px-to-rem(64px);
}

h1 {
  @include mx.font(54px, 700);
  margin: 0;
}

h2 {
  @include mx.font(24px, 700);
  @include mx.d-flex($justify-content: flex-start);
  margin: 0;
  > img {
    width: 32px;
    height: 32px;
  }
}

.set-selection {
  &__img {
    width: 460px;
    height: 412px;
  }
  @include mx.d-flex($flex-direction: column, $align-items: flex-end);
}

.set-panel {
  @include mx.font(20px, 400);

  &__btn {
    border: none;
    background-color: white;
  }
}

.menu-options {
  padding-top: 16px;
  padding-bottom: 48px;
  @include mx.d-flex($flex-direction: column, $align-items: flex-start);

  &__btn {
    background-color: white;
    border: none;
    @include mx.d-flex($justify-content: flex-start, $gap: 10px);
    @include mx.font(20px, 400);
  }
}

.set-point {
  border: 3px solid #303131;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
