:root {
  --bg-color: #303131;

  --game-board-text-color: #ffffff;
  --game-board-bg-color: #303131;
  --game-board-score-bg-color: #86e9d633;
  --game-board-border-radius: 0;

  --exit-btn-text-color: #ffffff;
  --exit-btn-text-hover-color: #ffffff;
  --exit-btn-bg-color: #86e9d633;
  --exit-btn-border-color: #4dd5bc;
  --exit-btn-border-hover-color: #6cf0d8;
  --exit-btn-bg-hover-color: #438e7f33;

  --exit-overlay-bg-color: #ffffff;
  --exit-overlay-text-color: #303131;

  --exit-overlay-btn-border-color: #4dd5bc;
  --exit-overlay-primary-btn-bg-color: #66cfbc;
  --exit-overlay-primary-btn-text-color: #ffffff;
  --exit-overlay-primary-btn-bg-hover-color: #66cfbc;
  --exit-overlay-secondary-btn-bg-color: #dcfdf6;
  --exit-overlay-secondary-btn-text-color: #4dd5bc;
  --exit-overlay-secondary-btn-bg-hover-color: #b4f6e9;

  --game-over-headline-color: #4dd5bc;

  --card-width: 120px;
  --card-height: 120px;
  --card-border-radius: 0;
}
