[data-theme="DA-projects"] {
  --theme-font: "Figtree";
  --theme-blue-color: #097fc5;
  --theme-orange-color: #ea6900;
  --bg-color: #ffffff;

  --game-board-text-color: #1e7594;
  --game-board-bg-color: #f0f3f4;
  --game-board-score-bg-color: #ffffff;
  --game-board-border-radius: 12px;

  --exit-btn-text-color: #1e7594;
  --exit-btn-text-hover-color: #ffffff;
  --exit-btn-bg-color: #bfe5f2;
  --exit-btn-border-color: #bfe5f2;
  --exit-btn-border-hover-color: #1e7594;
  --exit-btn-bg-hover-color: #1e7594;

  --exit-overlay-bg-color: #f0f6f9;
  --exit-overlay-text-color: #294f60;

  --primary-btn-border-radius: 12px;
  --primary-btn-bg-color: #bfe5f2;
  --primary-btn-border-color: none;
  --primary-btn-text-color: #1e7594;
  --primary-btn-bg-hover-color: #1e7594;
  --primary-btn-text-hover-color: #ffffff;

  --secondary-btn-bg-color: #fd8a81;
  --secondary-btn-border-color: none;
  --secondary-btn-text-color: #ffffff;
  --secondary-btn-bg-hover-color: #ff5548;

  --game-over-headline-color: #fd5b4f;
  --game-over-bg-color: #1e7594;

  --draw-headline-primary-color: #fd5b4f;
  --draw-headline-secondary-color: #ffffff;

  --card-width: 120px;
  --card-height: 100px;
  --card-border-radius: 16px;
}
