@use "./components/main" as comp;
@use "./abstract/main" as abs;
@use "./base/typography" as typgr;

body {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0;
  margin-block: 0;
}

.screen {
  height: 100vh;
}

.d-none {
  display: none;
}
