@use "./components/main" as comp;
@use "./abstract/main" as abs;
@use "./base/typography" as typgr;
@use "./themes/main" as themes;

body {
  margin: 0;
  font-family: "Red_Rose";
  background-color: var(--bg-color);
  position: relative;
}

button {
  padding-inline: 0;
  padding-block: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0;
  margin-block: 0;
}

.screen {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -100vh;
  opacity: 0;
  transition: opacity 1000ms ease;
  transition: top 800ms ease;
}

.d-none {
  display: none;
}

input[type="radio"] {
  accent-color: black;
}

.color-blue {
  color: #2bb1ff;
}

.color-orange {
  color: #f58e39;
}

.min-width-200px {
  min-width: 200px;
}

.min-width-140px {
  min-width: 140px;
}

.min-width-120px {
  min-width: 120px;
}

.min-width-150px {
  min-width: 150px;
}

.hide-screen {
  opacity: 0;
  top: -100vh;
}

.show-screen {
  opacity: 1;
  top: 0;
}
