@use "./components/main" as comp;
@use "./abstract/main" as abs;
@use "./base/typography" as typgr;

body {
  margin: 0;
  font-family: "Red_Rose";
  background-color: #303131;
}

button {
  padding-inline: 0;
  padding-block: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0;
  margin-block: 0;
}

.screen {
  height: 100vh;
}

.d-none {
  display: none;
}

input[type="radio"] {
  accent-color: black;
}

.color-blue {
  color: #2bb1ff;
}

.color-orange {
  color: #f58e39;
}
