@font-face {
  font-family: "Red_Rose";
  src: url("../../../assets/font/Red_Rose/RedRose-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Figtree";
  src: url("../../../assets/font/Figtree/Figtree-VariableFont_wght.ttf");
}
